html,
body{
    height: 100%;
    background-color: rgb(239, 232, 232);
}
.form{
    display: block;
    padding: 0 20vw;
}
input, textarea{
    font-weight: 500;
}
.form input:not(input[type="chekbox"]){
    margin-top: 10px;
}
textarea{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px 20px;
}
.product-info{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: .75fr 1.25fr;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
}
.product-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    background-size: cover;
    border-radius: 10px;
    grid-row: span 2;
    text-shadow: 0 0 10px white;
}
.text{
    text-decoration: capitalize;
    color: #383838;
    font-size: 20px;
    font-weight: 500;
}
.upload-image-sec{
    background: white;
    border-radius: 10px;
    padding: 20px;
}
.text img{
    height: 20px;
    margin-right: 10px;
}
.upload-catalouge{
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-gap: 10px;
}
.upload-image{
    width: 100%;
    height: 100px;
    background: #f5f5f5;
    cursor: pointer;
    background-size: cover;
}
.upload-image:hover{
    background: rgba(0, 0, 0, 0.2);
    background-size: cover;
}

.types{
    margin-top: 30px;

}
.type-checkbox{
    -webkit-appearance: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #383838;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 30px;
    position: relative;
    color: #383838;
}
.type-checkbox::after{
    content: attr(value);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    text-transform: uppercase;
}
.type-checkbox:checked{
    background: #383838;
    color: white;
}
.select-type{
    background: white;
    border-radius: 10px;
    padding: 20px;
}
input[type="number"]{
    display: block;
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    background: white;
    border: none;
    outline: none;
    margin-top: 20px 0;
    text-transform: capitalize;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.buttons{
    margin: 30px;
}
.btn{
    padding:10px 30px;
    text-transform: capitalize;
    color: white;
    background: #383838;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-left: 50px;
    cursor: pointer;
}
.btn:hover{
    background: white;
    color: #383838;
}